* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
}

:root {
	--background-color: #111827; // Dark purple
	--midground-color: #ffffff; // White
	--foreground-color: #609966; // Fresh Green
	--field-color: #eeeeee; //
	--text-color-black: #000000; // Black
	--text-color-white: #ffffff; // White
}

body {
	background-color: var(--background-color);
}

h1 {
	color: var(--text-color-white);
	user-select: none;

	font-size: 18px;
	font-weight: 400;
}

h2 {
	color: var(--text-color-white);
	user-select: none;

	font-size: 16px;
	font-weight: 400;
}

h3 {
	color: var(--text-color-black);
	user-select: none;

	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}

h4 {
	color: var(--text-color-black);
	user-select: none;

	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
}

p,
input,
label,
button {
	font-size: 14px;
	font-weight: 300;
	color: var(--text-color-black);
}

button {
	border: none;
	outline: none;
	background-color: transparent;
	user-select: none;
	text-decoration: none;
	cursor: pointer;
}

input {
	border: none;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: text;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px var(--midground-color) inset !important;
}
