
<div class="header">
    <h2> {{labelTitle}} </h2>
</div>

<ol>
    <li *ngFor="let item of readItems()">
        <input class="input-checkbox" type="checkbox" [checked]="item.status" id={{item.id}} (click)="onCheckedHandler($event)" />
        <label class="label-listItem" (click)="onSelectHandler(item.id)"> {{item.title}} </label>
    </li>
    <li class="add">
        <label class="label-add" for="add"> + </label>
        <input class="input-text" type="text" id="add" placeholder="Add Item" (keydown.enter)="createHandler($event)" />
    </li>
</ol>

<div class="backdrop" *ngIf="editMode && selectedItem" (document:keydown.enter)="onSaveHandler(selectedItem)" (document:keydown.escape)="setEditMode()">
    <div class="modal">

        <div class="modal-header">
            <h3> {{labelUpdate}} </h3>
            <button (click)="setEditMode()">X</button>
        </div>

        <div class="modal-main">
            <div>
                <label for="title"> {{labelName}} </label>
                <input id="title" value={{selectedItem.title}} (keyup)="onChangeHandler($event)" />
            </div>
            <div>
                <label for="description"> {{labelDescription}} </label>
                <input id="description" value={{selectedItem.description}} (keyup)="onChangeHandler($event)"/>
            </div>
            <div>
                <label for="tag"> {{labelTag}} </label>
                <input id="tag" value={{selectedItem.tag}} (keyup)="onChangeHandler($event)"/>
            </div>
            <div>
                <label for="startDate"> {{labelStartDate}} </label>
                <input id="startDate" value={{formatDate(selectedItem.startDate)}} (change)="onChangeHandler($event)" type="date"/>
            </div>
            <div>
                <label for="endDate"> {{labelEndDate}} </label>
                <input id="endDate" value={{formatDate(selectedItem.endDate)}} (change)="onChangeHandler($event)" type="date"/>
            </div>
        </div>

        <div class="modal-footer">
            <button (click)="deleteHandler(selectedItem.id)"> {{labelDelete}} </button>
            <button (click)="onSaveHandler(selectedItem)"> {{labelSave}} </button>
        </div>
        
    </div>
</div>
