<div class="view">

    <div class="header">
        <button (click)="previousHandler()"> {{previousMonthLabel}} </button>
        <p> {{currentMonthLabel + " " + currentYear}} </p>
        <button (click)="nextHandler()"> {{nextMonthLabel}} </button>
    </div>

    <div class="content">

        <div *ngFor="let day of weekdayLabels">
            <p class="day"> {{day[0]}} </p>
        </div>
        
            <div *ngFor="let date of visibleDates">
            <p class="date" [ngClass]="{
                'date-current': date === today.getDate() && currentMonth == today.getMonth() && currentYear === today.getFullYear(),
                'date-selected': selectedDate && date === selectedDate.getDate() && currentMonth === selectedDate.getMonth() && currentYear === selectedDate.getFullYear(),
                'date-hidden': date === 0,
            }" (click)="selectHandler(date)">{{ date }}</p>
        </div>
    </div>

</div>
