<div class="header">
    <button (click)="onPreviousMonthHandler()"> {{previousMonthLabel}} </button>
    <h2> {{currentMonthLabel + " " + currentYear}} </h2>
    <button (click)="onNextMonthHandler()"> {{nextMonthLabel}} </button>
</div>

<div class="content">

    <div class="weekday-container" *ngFor="let day of weekdayLabels">
        <h4> {{day[0]}} </h4>
    </div>
    
    <div class="date-container" *ngFor="let date of visibleDates">
        <div></div>
        <button class="date" [ngClass]="{
            'date-selected': isDateCurrent(date) || isDateSelected(date),
            'date-hidden': isDateHidden(date),
        }" (click)="onSelectDateHandler(date)"> {{ date }} </button>
        <div> 
            <p *ngIf="dateHasContent(date)"> . . . </p>
        </div>
        
    </div>
</div>