<div class="app" [ngClass]="{'darkmode': isDarkMode}">
  <header>
    <h1> {{labelTitle}} </h1>

    <div class="dropdown" *ngIf="session">
      <button>
        <img *ngIf="profile && profile.avatar_url" [src]="profile.avatar_url" />
        {{profile ? profile.first_name + " " + profile.last_name : "Username"}}
      </button>
      <div class="dropdown-content">
        <button (click)="setSettingsView()"> Account </button>
        <button (click)="signOut()">Sign Out</button>
        <button (click)="setDarkMode()"> {{labelDarkMode}} </button>
      </div>
    </div>

  </header>

  <main>

    <app-login class="loginView"  *ngIf="!session" />

    <div class="mainView" *ngIf="session && !isSettingsViewVisible">

        <div class="placeholder-1" >
          <app-calendar [inputEvents]="events" (outputDate)="receiveSelectedDate($event)" />
        </div>
        <div class="placeholder-2" >
          <app-list [session]="session" [inputDate]="selectedDate" [inputTag]="selectedTag" (outputEvents)="receiveCalendarEvents($event)" />
        </div>      
        <div class="placeholder-3" >
          <app-actions [inputEvents]="events" (outputTag)="receiveSelectedTag($event)" />
        </div>

    </div>

    <app-settings class="settingsView" *ngIf="session && isSettingsViewVisible" [session]="session" />

  </main>


  <footer>
  </footer>
</div>