.app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
    width: 100%;
    background-color: var(--background-color);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 50px;
    padding: 0 1rem;
    background-color: var(--foreground-color);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    & div {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;

        width: auto;
        height: 100%;

        & button {
            color: var(--text-color-black);
            background-color: var(--background-color);
            height: 70%;
            width: 80px;
            border-radius: 8px;
        }
    }

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.mainView {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 4rem;
    width: 100%;

    & .placeholder-1 {
        width: 100%;
        aspect-ratio: 1;
    }
    & .placeholder-2 {
        width: 100%;
    }
    & .placeholder-3 {
        width: 100%;
    }
}

.settingsView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 60%;
    height: 70vh;

    background-color: var(--midground-color);
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
}

.loginView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--midground-color);
    width: 400px;
    height: 450px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 50px;
    margin-top: auto;
}

@media (min-width: 600px)  {
    main {
        width: 80%;
    }
}

@media (min-width: 700px)  {
    main {
        width: 70%;
    }
}

@media (min-width: 800px)  {
    main {
        width: 60%;
    }
}

@media (min-width: 900px)  {
    main {
        width: 50%;
    }
}

@media (min-width: 1150px)  {
    main {
        width: 80%;
        justify-content: space-between;
    }

    .mainView {
    & .placeholder-1 {
        width: 40%;
    }
    & .placeholder-2 {
        width: 50%;
    }
    & .placeholder-3 {
        width: 40%;
    }
    }
}