<div class="app">
	<header>
		<h1>{{ labelTitle }}</h1>
		<div class="dropdown-menu" *ngIf="session">
			<button>
				<div>
					<img *ngIf="avatarURL" [src]="avatarURL" />
				</div>
				{{ profile ? profile.first_name + " " + profile.last_name : "Username" }}
			</button>
			<div class="dropdown-content">
				<button (click)="setSettingsViewState()">
					{{ isSettingsViewVisible ? labelHome : labelAccount }}
				</button>
				<button (click)="signOut()">{{ labelSignOut }}</button>
			</div>
		</div>
	</header>

	<main>
		<div
			class="mainView"
			*ngIf="session && !isSettingsViewVisible && !isUpdateViewVisible"
		>
			<div class="placeholder-1">
				<app-calendar
					[inputEvents]="events"
					(outputDate)="setSelectedDate($event)"
				/>
			</div>
			<div class="placeholder-2">
				<app-list
					[inputEvents]="events"
					[inputSelectedDate]="selectedDate"
					[inputSelectedTag]="selectedTag"
					(outputOpenUpdateView)="setUpdateViewState($event)"
					(outputSelectEvent)="setSelectedEvent($event)"
					(outputAddEvent)="createEvent($event)"
					(outputUpdateEvent)="updateEvent($event)"
				/>
			</div>

			<div class="dropup-menu">
				<div class="dropup-content">
					<button
						class="button"
						[ngClass]="{ 'button-selected': tag === selectedTag }"
						(click)="setSelectedTag(tag)"
						*ngFor="let tag of availableTags"
					>
						{{ tag }}
					</button>
				</div>
				<button>Filter</button>
			</div>
		</div>

		<login-view *ngIf="!session" (outputSubmit)="signIn($event)" />

		<update-view
			*ngIf="selectedEvent && isUpdateViewVisible"
			[inputEvent]="selectedEvent"
			(outputSave)="updateEvent($event)"
			(outputDelete)="deleteEvent($event)"
			(outputClose)="setUpdateViewState($event)"
		/>

		<settings-view
			*ngIf="session && isSettingsViewVisible"
			[inputUser]="session.user"
			[inputProfile]="profile"
			[inputAvatarURL]="avatarURL"
			[isLoading]="isLoading"
			(outputSave)="updateProfile($event)"
			(outputUpload)="uploadAvatar($event)"
		/>

		<app-notification
			*ngIf="message"
			[message]="message"
			(onClose)="closeNotificationhandler($event)"
		/>
	</main>

	<footer></footer>
</div>
