



<div class="app">

  <header class="header">
    <h1> {{title}} </h1>
  </header>

  <main class="content">
    <section>
      <app-calendar [inputEvents]="events" (outputDate)="receiveSelectedDate($event)" />
      <app-actions [inputEvents]="events" (outputTag)="receiveSelectedTag($event)" />
    </section>
    <section>
      <app-list [inputDate]="selectedDate" [inputTag]="selectedTag" (outputEvents)="receiveCalendarEvents($event)" />
    </section>
  </main>

  <footer class="footer">
    <p> {{owner}} </p>
  </footer>

</div>