:host {
    width: 100%;
}

.view {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 50px;
    padding: 0 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    & p {
        font-size: medium;
        font-weight: bold;
    }
}

.content {

    width: 100%;
    padding: 2rem;
    overflow-x: scroll;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    border-radius: 8px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.button {
    border: none;
    background-color: none;
    text-decoration: none;

    width: 65px;
    height: 65px;
    margin-right: 1rem;
    border-radius: 100%;

    font-size: x-small;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(255, 245, 219);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.button:last-child {
    margin-right: none;
}

.button-selected {
    background-color: wheat;
}