:host {
    width: 400px;
    display: flex;
    flex-direction: column;

    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 8px;
    overflow: hidden;
}


.header {
    width: 100%;
    height: 50px;
    padding: 0 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #2a3746;

    & p {
        font-size: medium;
        font-weight: bold;
        color: #ffffff;
    }
}

.content {
    width: 100%;
    padding: 2rem;
    overflow-x: scroll;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.button {
    border: none;
    background-color: none;
    text-decoration: none;
    font-size: x-small;
    font-weight: bold;
    cursor: pointer;

    height: 65px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #f5f6f8;
    color: #000000;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.button-selected {
    background-color: #2a3746;
    color: #ffffff;
}