  <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()">

    <h1> {{'Account'}} </h1>

    <section class="avatar">

    <div>
      <img
        *ngIf="_avatarUrl"
        [src]="_avatarUrl"
        alt="Avatar"
      />
    </div>
    <label for="file-upload">
      <input 
      type="file"
      accept="image/*"
      id="file-upload"
      (change)="uploadAvatar($event)"
      hidden
      />
      U
    </label>

    </section>
    
    <section class="information">
    <div>
      <label for="email">Email</label>
      <input id="email" type="text" [value]="session.user.email" disabled />
    </div>
    <div>
      <label for="first_name">First Name</label>
      <input formControlName="first_name" id="first_name" type="text" />
    </div>
    <div>
      <label for="last_name">Last Name</label>
      <input formControlName="last_name" id="last_name" type="url" />
    </div>
  </section>

    <section class="actions">
      <button type="submit">
        {{ 'Delete Account' }}
      </button>
      <button type="submit">
        {{ 'Save' }}
      </button>
    </section>
    
  </form>